AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: 'false'
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
ConstructorInitializerIndentWidth:  2
ContinuationIndentWidth: 2
DeriveLineEnding: false
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentWidth: 2
InsertNewlineAtEOF: true
LineEnding: 'LF'
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
ReflowComments: Always
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: false
SpacesBeforeTrailingComments: 0
Standard: c++20
TabWidth: 2
UseCRLF: false
UseTab: Never