AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlinesLeft: DontAlign
AlignOperands: 'false'
AlignTrailingComments: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BasedOnStyle: Google
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: 'true'
ColumnLimit: '80'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
DeriveLineEnding: false
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentWidth: 2
LineEnding: 'LF'
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: Always
SortIncludes: true
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeRangeBasedForLoopColon: 'false'
SpacesBeforeTrailingComments: '0'
Standard: c++20
TabWidth: 2
UseCRLF: false
UseTab: Never

