name: CMake on multiple platforms

on:
  push:
    branches: [ "master" ]
permissions:
  packages: write
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        build_type: [Debug, RelWithDebInfo]
        cxx_compiler: [g++-14, clang++, cl, clang-cl]
        exclude:
          - os: windows-latest
            cxx_compiler: g++-14
          - os: windows-latest
            cxx_compiler: clang++
          - os: ubuntu-latest
            cxx_compiler: cl
          - os: ubuntu-latest
            cxx_compiler: clang-cl
          - os: macos-latest
            cxx_compiler: g++-14
          - os: macos-latest
            cxx_compiler: cl
          - os: macos-latest
            cxx_compiler: clang-cl
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756
      with:
        arch: x64
    - name: Configure CMake
      shell: pwsh
      run: |
        cmake -B build/ `
        "-DCMAKE_TOOLCHAIN_FILE=$($Env:VCPKG_INSTALLATION_ROOT)/scripts/buildsystems/vcpkg.cmake" `
        -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} `
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }}

    - name: Test
      working-directory: build
      run: ctest --build-config ${{ matrix.build_type }}
